.container{
    background-color: paleturquoise;
    padding: 20px;
}
body{
  background-color: greenyellow;
  text-align: center;
}
.title{
    font-size: 2rem;
    text-align: center;
}
.btn{
    width: 100px;
    font: 1em sans-serif;
    color: white;

}
p{
  text-align: center;
}
