
<div class="container" >
    <div class="row">
       <div class="col-md-4">

          <a [routerLink]="['/countries', 'africa']"><img src="./assets/images/africa.png"  data-toggle="tooltip" title="africa!"></a>
       </div>
       <div class="col-md-4">
          <a [routerLink]="['/countries', 'Americas']">
            <img src="./assets/images/america.png"  data-toggle="tooltip" title="America!">
          </a>
       </div>
       <div class="col-md-4">
          <a [routerLink]="['/countries', 'asia']"><img src="./assets/images/asia.png" data-toggle="tooltip" title="Asia!"></a>
       </div>

    </div>
    <div class="row" >

       <div class="col-md-6">
          <a [routerLink]="['/countries', 'europe']"><img src="./assets/images/europe.png"  data-toggle="tooltip" title="Europe!"></a>
       </div>
       <div class="col-md-6">
          <a [routerLink]="['/countries', 'oceania']"><img src="./assets/images/oceania.png"  data-toggle="tooltip" title="Oceania!"></a>
       </div>
    </div>
 </div>
